/* Table.css */

/*
This CSS has the style settings for tables
*/

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--table-margin-top);
}

.table-wrapper {
  width: stretch;
  max-height: 60vh;
  overflow-y: auto;
}

.table-row, .tr {
  height: var(--table-row-height);
  max-height: var(--table-row-height);
  vertical-align: middle;
  overflow: auto;
}

.table th, .th {
  background-color: var(--table-odd-background-color);
  border-color: var(--table-border);
}

.table td, .td {
  padding: var(--table-cell-padding);
  border: var(--table-border);
}

.table-col-left {
  text-align: left;
}

.table-col-center {
  text-align: center;
}

.table-col-right {
  text-align: right;
}

.small-cell {
  width: var(--table-small-cell-width);
  overflow-y: hidden;
}

.table tr:nth-child(even):not(.table-row.restricted, .table-row.open)  {
  background-color: var(--table-even-background-color);
  color: var(--table-even-text-color);
}

.table tr:nth-child(odd):not(.table-row.restricted, .table-row.open)  {
  background-color: var(--table-odd-background-color);
  color: var(--table-odd-text-color);
}

.table tr:hover:not(.table-row.restricted, .table-row.open) {
  background-color: var(--table-hover-background-color);
  color: var(--table-hover-text-color);
}

.table-row.open {
  background-color: var(--table-open-background-color);
  color: var(--table-open-text-color);
}

.table-row.open:hover {
  background-color: var(--table-open-hover-background-color);
  color: var(--table-open-hover-text-color);
}

.table-row.restricted {
  background-color: var(--table-restricted-background-color);
  color: var(--table-restricted-text-color);
}

.table-row.restricted:hover {
  background-color: var(--table-restricted-hover-background-color);
  color: var(--table-restricted-hover-text-color);
}